/.cask/
/auto-save-list/
/history
/recentf
/savefile/
/server/
/tmp/
/.mc-lists.el
/eshell/
/.sx/
/places
/projectile-bookmarks.eld
/projectile.cache
session.*
#.*
/tramp
/#recentf#
/url/cookies
emms/
request/
url/
elpa/
tldr/
